#contact{
  color: black;
}

.click {
  margin: 2px 0px;
  padding: 2px 5px;
  background-color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  cursor:pointer;
}
.click1 {
  margin: 2px 0px;
  padding: 2px 5px;
  background-color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  cursor:pointer;
}
.logo{
  position: relative;
  left: 30px;
  top: 23px
}

body {
  margin: 0px 0px;
  padding: 0px 0px;
}

.header{
  z-index: -1;

}
.header::before{
  content: "";
  background-color: darkgray;
  z-index: -1;
}
.head {
  display: inline;
  position: relative;
  left: 320px;
  bottom: -5px;
}

.button {
  float: right;
  margin: 33px 44px;
  font-size: 17px;
  padding: 5px 6px;
  background-color: black;
}

.button a {
  color: rgb(255, 254, 254);
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}

.button:hover {
  background-color: rgb(156, 156, 156);
}


/* nav section */
.container {
  border: 2px solid black;
  margin: 45px 0px;
  width: 1362px;
height: 44px;
  background-color: #4CAF50;

}

.container ul {
  list-style: none;
  position: relative;
  left: -26px;
  top: -19px;
  display:flex;
}

.container ul li {
  padding: 12px 0px;
}

.container ul li a {
  text-decoration: none;
  color: white;
  font-size: 21px;
  margin: 0px 134px
}

.container ul li a:hover {
  color: rgb(51, 51, 51);
}

  /* main section */

  .section {
    border: 2px solid black;
    position: absolute;
    top: 169px;
  left: 0px;
  width: 1362px;
  /* height: 484px; */
  }

  /* Table section */

  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td,
  .customers th {
    border: 1px solid #ddd;
    padding: 5px 6px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #4CAF50;
color: white;
}    




.hid{
  display:none;
}
  #pop {
    position: absolute;
    background: #000000e3;
    height: 335px;
    width: 414px;
    top: -56px;
    left: 29%;
    text-align: center;
    font-size: 20px;
    border-radius: 16px;
    color: white;
    display: flex;
  }

  #pop form {
    text-align: center;
    position: relative;
    left: 96px;
  }

  #close {
    font-size: 34px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  left: 288px;
  transform: rotate(45deg);
  top: -38px;
  color: white;
  }
  /* #pop form input{
    text-align: center;
    width: 213px;
    height: 19px;
    font-size: 17px;
    font-family: monospace;
    font-weight: bold;
    border: 2px solid #41d668;
    border-radius: 5px
  }

  #pop form input .send{
    font-size: 19px; */
  /* } */